body {
  font-family: 'Roboto',
    sans-serif;
  background: #E5E5E5;
  color: #212121;
}

.navigation {
  background-color: #ffffff;

}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196F3;
}

.logo-header {
  color: #000000;
}

.list-force:hover {
  color: #2196F3;
}

.informacion {
  margin-left: 1073px;
}


.logo-footer {
  color: #ffffff;
}