body {
  font-family: 'Roboto',
    sans-serif;
  background: #E5E5E5;
  color: #757575;
}

/* Панель навігації */
.navigation {
  background-color: #ffffff;
}

/* Логотип компанії */
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196F3;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

/* Силки конаткту навігації */
.force-contact:hover,
.force-contact:focus {
  color: #2196F3;
}

.force-contact {
  color: #757575;
}

/* силки  */
.navigation a:hover,
.navigation a:focus {
  color: #2196F3;
}

/* списки */
.list {
  list-style: none;
}

.list-force {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}